{{#ember-header appName="ember-ika-components" userName="ika-front-end"}}
  <ul>
    <li>get start</li>
    <li>layout</li>
    <li>forms</li>
    <li>components</li>
  </ul>
{{/ember-header}}
{{outlet}}
